@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

h1, h2
{
	text-align: center;
	padding-top: 20px;
	font-family: 'Acme', sans-serif;
	color: #A22324;
	font-size: 40px;
	padding-bottom: 20px;
}

form
{
	width: 30%;
	margin: 0 auto;
	padding: 20px;
}

input
{
	width: 100%;
	margin-bottom: 15px;
	padding: 5px;
	border-radius: 5px;
	border-color: #0D98BA;
	border-width: 1px;
	/* background-color: #b8edf9; */
}



input.submit
{
	border-color: #0D98BA;
	padding: 10px;
	background-color: #0D98BA;
	color: white;
	font-size: 20px;
}

.error
{
	color: red;
	text-align: center;
	text-decoration: underline;
}

.acme-pic
{
	height: 50%;
	width: 40%;
	margin-right: 30px;
}

.main-wrap
{
	width: 80%;
	margin: 0 auto 0 auto;
	display: flex;
	padding-bottom: 30px;
	
}

.text
{
	margin-left: 50px;
	width: 50%;
}

.user
{
	text-decoration: underline;
}
